@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 50px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #24282b;
    border-bottom: solid 10px #1491d4;
    margin-top: -20px;
    height: 150px;
}
a:hover{
    color: #1491d4;
}
.nav1{
    color: white;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: center;
}
.nav1 nav{
    display: flex;
    gap: 130px;
}
.colorh1{
    color: #1491d4;
}
a{
    font-size: 20px;
    margin-top: 45px;
    text-decoration: none;
    color: white;
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../images/cabecera.jpg")0 -450px;
    background-size: cover;
    height: 600px;
    text-align: center;
}
.section1 p{
    width: 1100px;
    color: white;
}
.section2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    background-color: #24282b;
    align-items: center;
    height: 100px;
}
.section1 h2 {
    font-size: 50px;
    color: white;
}
input{
    width: 250px;
    height: 30px;
}
button{
    background-color: #e8491d;
    color: white;
    border: none;
    width: 90px;
    height: 34px;
}
.section3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #f4f4f4;
    height: 450px;
}
.section3 h3{
    font-size: 25px;
}
.image1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
}
.image2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
}
.image3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
}
.section4{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin: 40px;
}
.section5{
    display: flex;   
    margin-top: 35px;
    justify-content: center;
}
.p4{
    background-color: #35424a;
    color: white;
    width: 380px;
    padding: 20px;
}
.img5{
    width: 150px;
    width: 410px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.form2 input{
    width: 670px;
}
.button2{
    width: 670px;
    margin-bottom: 15px;
    margin-top: 5px;
}
.info2{
    margin-left: 50px;
}
#mensaje1{
    height: 200px;
}
#p0{
    width: 970px;
}
#p1{
    background-color: #35424a;
    color: white;
    width: 970px;
    height: 90px;
    padding: 15px;
    margin-top: 20px; 
    margin-right: 15px;
    margin-bottom: 20px;
}
#p2{
    background-color: #35424a;
    color: white;
    width: 940px;
    height: 245px;
    padding: 15px;
    margin-top: 40px;
    margin-left: 80px;
}
.columns{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 2260px;
}
#col1{
    background-color: #e6e6e6;
    padding: 25px;
    margin-bottom: 5px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1491d4;
    height: 120px;
}
.footer h2{
    font-size: 25px;
    font-weight: 200;
    color: #f4f4f4;
}

@media screen and (max-width:1200px){
    
    header{
        border-bottom: solid 6px #1491d4;
        height: 115px;
        padding: 25px;
    }
    .nav1 nav {
        gap: 75px;
    }
    h1{
        font-weight: 700;
        font-size: 42px;
    }
    a {
        font-size: 15px;
    }
    .section1 h2 {
        font-size: 40px;
    }
    .section1 p {
        width: 900px;
    }
    .section1 {
        background: url(../images/cabecera.jpg)0 -250px;
    }
    .footer {
        height: 100px;
    }
    #p0{
        width: 700px;
    }
    #p1{
        width: 700px;
        height: 125px;
    }
    #p2{
        width: 500px;
        height: 300px;
    }
    #imgCont{
        width: 730px;
    }
    .columns{
        width: 950px;
    }
}
@media screen and (max-width:992px){
  
    header{
        border-bottom: solid 6px #1491d4;
        height: 90px;
        padding: 25px;
    }
    .nav1 nav {
        gap: 60px;
    }
    h1{
        font-weight: 700;
        font-size: 35px;
    }
    a {
        font-size: 15px;
    }
    .section1 h2 {
        font-size: 35px;
    }
    .section1 p {
        width: 600px;
    }
    .section1 {
        background: url(../images/cabecera.jpg)0 -450px;
        height: 480px;
    }
    .footer {
        height: 90px;
    }
    .section3 {
        height: 425px;
    }
    .section2 {
        height: 80px;
    }
    #p0{
        width: 600px;
    }
    #p1{
        width: 600px;
        height: 120px;
    }
    #p2{
        width: 400px;
        height: 415px;
    }
    #imgCont{
        width: 630px;
    }
    .p4{
        width: 200px;
    }
    .img5{
        width: 240px;
    }
    .form2 input{
        width: 400px;
    }
    .button2{
        width: 400px;
    }
    .columns{
        width: 950px;
    }
}
@media screen and (max-width:576px){
    
    header{
        border-bottom: solid 6px #1491d4;
        height: 90px;
        padding: 10px;
    }
    .nav1 nav {
        gap: 20px;
    }
    h1{
        display: flex;
        flex-direction: column;
        font-weight: 700;
        font-size: 25px;
        justify-content: center;
        align-items: center;
    }
    a {
        font-size: 15px;
    }
    .section1 h2 {
        font-size: 30px;
    }
    .section1 p {
        width: 300px;
    }
    .section1 {
        background: url(../images/cabecera.jpg)1 -450px;
        height: 450px;
    }
    .footer {
        height: 90px;
    }
    .section3 {
        display: flex;
        flex-direction: column;
        height: 1115px;
    }
    .section2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 120px;
    }
    .image1 {
        width: 70%;
    }
    .image2 {
        width: 70%;
    }
    .image3 {
        width: 70%;
    }
    .section4{
        display: flex;
        align-items: center;
    }
    #p0{
        width: 200px;
    }
    #p1{
        width: 200px;
        height: 390px;
    }
    #p2{
        height: 465px;
        margin-top: -50px;
        margin-left: 0px;
    }
    #imgCont{
        width: 500px;
    }
    .columns{
        margin-left: 0px;
        margin-right: 10px;
        width: 585px;
    }
    .section5 {
        display: flex;
        margin-top: 35px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .p4{
        width: 375px;
    }
    .img5{
        width: 415px;
    }
    .info2{
        margin-right: 40px;
    }
}